<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="padding: 5px;">
        <h1>
            Welcome To Contact Us Page
        </h1>
    </header>
    <span style="border: 0.2cm black;">
        <form action="URL" method="post">
            <label for="FullName">Full Name</label><br>
            <input type="text" id="FullName" name = "FullName" required maxlength="20" ><br>
            <label for="">Email</label><br>
            <input type="email" required><br>
            <label for="DateOfBirth">Age</label><br>
            <input type="date" id="DateOfBirth" name = "DateOfBirth" required min="1950-01-01" ><br>
            <label for="PhoneNumber">Phone Number</label><br>
            <input type="Phone number"><br>
            <label for="Satisfaction">Do you Like the Site ? </label><br>
            <input type="range" name="Satisfaction" id="age" min="0" max="100"><br>
            <input type="Submit" id="Submit" name="agree">
        </form>
    </span>

</body>
</html>