<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>
    </title>
</head>
<body>
    <header style="padding: 5px;">
        <h1>
            Welcome To My First Web Page On Coffee
        </h1>
    </header>
    <span style="margin: 2px;" >
        <img src="Static/coffee-beans.jpeg" width="600" height="600" alt="">
    </span>
    <div>
        <h2>
            Few Facts About Coffee : <style></style>
        </h2>
    </div>
    <span>
        <ul>
            <li>Brasil Grows the most coffee in the world </li>
            <li>Only two U.S. states produce coffee</li>
            <li>Espresson Means "Pressed Out" In Italian</li>
            <li>The world's most expensive coffee can cost more than 600$ a pound</li>
        </ul>
    </span>
   <span>
    <h2>Want To learn more about coffee ??</h2>
   </span>
   <span style="padding-bottom: 2cm ; margin-left: 5cm; width: 500; height: 500;">
    <a href="./Templates/ContactMe.html" target="_blank">
        <button> Conatc Us </button>
    </a>
   </span>
  

</body>
</html>